/**
 * jigoshop specific CSS
 *
 */

/* Product Stuff */
li.product {list-style:none;}

/* Forms Reset */
form .form-row input.input-text, #content .form-row input.input-text, form .form-row textarea, #content .form-row textarea, input#coupon_code.input-text, input.input-text.qty.text {
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif;
	font-size: 11px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}

/* Product Image Border */
.products li a img {
	border: 1px solid rgba(255,255,255, .4);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.4); 
	box-shadow: 0 1px 4px rgba(0,0,0,.4);
}
.products li a:hover img {
	border: 1px solid rgba(255,255,255, .6); 
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.5);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,.5);
	box-shadow: 0 2px 4px rgba(0,0,0,.5);
}

/* Responsive Product Page */
div.product div.summary {
	float:left;
	width:42%;
}

	div.product div.images {
		width:50%;
		max-width:315px;
		margin-right:20px;
	}

		div.product div.images img {
			background:rgba(255,255,255,.4);
			-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.4);
			-moz-box-shadow: 0 1px 4px rgba(0,0,0,.4);
			box-shadow: 0 1px 4px rgba(0,0,0,.4);
			border: 1px solid rgba(255,255,255, .4); 
			-moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
		}

/* Products Grid
 *****************/
ul.products{
	width: 100%;
}
ul.products li{margin-right: 18px}
ul.products li a img{
	max-width: 100%;
}
ul.products li a:hover{
	text-decoration: none;
}
ul.products li a strong{
	margin: 13px 0 0px;
	font-size: 1.2em;
	font-weight: normal;
}
.products li .price{text-align: left; float: none; margin: 0; line-height: 1.3em}

/* TABS
 *****************/ 

div.product #tabs ul.tabs, div.product #tabs ul.tabs a  {
	text-decoration: none;
}

/* Shipping */
a.shipping-calculator-button:hover {
	text-decoration:none !important;
}
.cart-collaterals .shipping_calculator .button {
	width: 204px!important;
}

/* Button Shift */
td.actions .button-alt {
	margin: 1px 0 0 6px;
}

/* Adjust quanity spacing */
.quantity input.qty {
	margin: 1px 4px 0 4px !important;
}

/* Comment Form
 *****************/ 
#reviews #comments ol.commentlist{
	list-style-type: none;
}
#reviews #comments ol.commentlist li .comment-text {
	border: 0;
	padding: 10px;
}

#reviews #comments ol.commentlist li .comment-text{
	margin:0;
}
#reviews #comments ol.commentlist li img{
	margin-left: -47px;
}

/* Table
 ***************/
.shop_table {text-align: center;}
.shop_table .product-name{
	text-align: right;
}

/* Review Form 
 ***************/ 
#review_form, #review_form #commentform label, #review_form h3#reply-title, #review_form textarea{
	color:#000;
}
#review_form textarea{
	background:#f7f7f7;
	border: 1px solid #eee;
}

/* Images
 ***************/
img.attachment-shop_tiny {
	padding:0.12em;
	-moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}


/* Buttons
 ***************/
.coupon input.button {
	margin-right:0.4em !important;
}
.quantity.button-alt {
	margin:0 !important;
}
.jigoshop #page a.button, .jigoshop #page a.button-alt,.jigoshop  #page button.button, .jigoshop #page input.button, .jigoshop #page input.button-alt{
	margin:0;
	padding: 5px 9px;
	cursor: pointer;
	text-decoration: none;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:#000000 !important; 
	text-shadow:0 1px 0 rgba(255,255,255,0.5); 
	border:1px solid #bbbbbb; 
	background:#eeeeee; 
	background:-moz-linear-gradient(top,#ffffff 0%,#dcdcdc 100%); 
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#dcdcdc)); 
	background:-webkit-linear-gradient(top,#ffffff 0%,#dcdcdc 100%); 
	background:-o-linear-gradient(top,#ffffff 0%,#dcdcdc 100%); 
	background:-ms-linear-gradient(top,#ffffff 0%,#dcdcdc 100%); 
	background:linear-gradient(top,#ffffff 0%,#dcdcdc 100%); 
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#d3d3d3',GradientType=0); 
	-webkit-box-shadow: inset 1px 1px 0px #FFF;
	-moz-box-shadow: inset 1px 1px 0px #FFF;
	box-shadow: inset 1px 1px 0px #FFF;
} 

	.jigoshop #page a.button:hover, .jigoshop #page a.button-alt:hover, .jigoshop #page button.button:hover, .jigoshop #page input.button:hover { 
		text-decoration: none;
		color:#000000; 
		text-shadow:0 1px 0 rgba(255,255,255,0.5); 
		border:1px solid #aeaeae; 
		background:#e1e1e1; 
		background:-moz-linear-gradient(top,#f3f3f3 0%,#cfcfcf 100%); 
		background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#cfcfcf)); 
		background:-webkit-linear-gradient(top,#f3f3f3 0%,#cfcfcf 100%); 
		background:-o-linear-gradient(top,#f3f3f3 0%,#cfcfcf 100%); 
		background:-ms-linear-gradient(top,#f3f3f3 0%,#cfcfcf 100%); 
		background:linear-gradient(top,#f3f3f3 0%,#cfcfcf 100%); 
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#d3d3d3',GradientType=0); 
	} 

	.jigoshop #page a.button:active, .jigoshop #page a.button-alt:active, .jigoshop #page button.button:active, .jigoshop #page input.button:active { 
		color:#000000; 
		text-shadow:0 1px 0 rgba(255,255,255,0.5); 
		border:1px solid #8e8e8e; 
		background:#c1c1c1; 
		background:-moz-linear-gradient(top,#afafaf 0%,#d3d3d3 100%); 
		background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#d3d3d3)); 
		background:-webkit-linear-gradient(top,#afafaf 0%,#d3d3d3 100%); 
		background:-o-linear-gradient(top,#afafaf 0%,#d3d3d3 100%); 
		background:-ms-linear-gradient(top,#afafaf 0%,#d3d3d3 100%); 
		background:linear-gradient(top,#afafaf 0%,#d3d3d3 100%); 
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#d3d3d3',GradientType=0);
		box-shadow: none;
	}

.jigoshop #page a.checkout-button,.jigoshop #page .button-alt {
	    margin:0.1em 0 0 0;
		background:#4574B8; 
		background:-moz-linear-gradient(top,#6E9ED2 0%,#4574B8 100%); 
		background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#6E9ED2),color-stop(100%,#4574B8)); 
		background:-webkit-linear-gradient(top,#6E9ED2 0%,#4574B8 100%); 
		background:-o-linear-gradient(top,#6E9ED2 0%,#4574B8 100%); 
		background:-ms-linear-gradient(top,#6E9ED2 0%,#4574B8 100%); 
		background:linear-gradient(top,#6E9ED2 0%,#4574B8 100%); 
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6E9ED2',endColorstr='#4574B8',GradientType=0); 
		box-shadow: none;
		color: #f7f7f7 !important;
		text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
	.jigoshop #page a.checkout-button:hover,.jigoshop #page .button-alt:hover  {
		background:-moz-linear-gradient(top,#517EBD 0%,#2853A1 100%); 
		background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#517EBD),color-stop(100%,#2853A1)); 
		background:-webkit-linear-gradient(top,#517EBD 0%,#2853A1 100%); 
		background:-o-linear-gradient(top,#517EBD 0%,#2853A1 100%); 
		background:-ms-linear-gradient(top,#517EBD 0%,#2853A1 100%); 
		background:linear-gradient(top,#517EBD 0%,#2853A1 100%); 
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#517EBD',endColorstr='#2853A1',GradientType=0); 
		text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
	}
	.jigoshop #page a.checkout-button:active,.jigoshop #page .button-alt:active  {
		box-shadow: none;
		background:-moz-linear-gradient(top,#1A3764 0%,#517EBD 100%); 
		background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#1A3764),color-stop(100%,#517EBD)); 
		background:-webkit-linear-gradient(top,#1A3764 0%,#517EBD 100%); 
		background:-o-linear-gradient(top,#1A3764 0%,#517EBD 100%); 
		background:-ms-linear-gradient(top,#1A3764 0%,#517EBD 100%); 
		background:linear-gradient(top,#1A3764 0%,#517EBD 100%); 
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1A3764',endColorstr='#517EBD',GradientType=0);
		text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
	}

/* Responsive
 ******************/
@media screen and (max-width:750px) { 
	#page .product.first {
		clear: none;
	}
	#page .product.last {
		margin-right: 18px;
	}
}

@media screen and (max-width:320px) {
	div.product div.summary, div.product div.images {
		margin-right:0;
		width:100%;
		-webkit-transition: linear .4s;
		-moz-transition: linear .4s;
		-ms-transition: linear .4s;
		transition: linear .4s;
	}
	p.price {
		margin:0;
	}
	h1.product_title.page-title {
		margin:0 0 0.3em 0;
	}
	div.product p.stock {
		padding:0;
		margin:1.2em 0 0.5em 0;
	}
}